.space-map0 {
  background-image: url('https://i.pinimg.com/originals/f6/20/a1/f620a179ca1acfd15a0754701677fb58.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
}

.solar-fix {
  max-width: 100%;
}

.testing-overlay {
  position: fixed;
  top: 60%;
  left: 60%;
  z-index: 7;
  background-color: white;
  color: black;
  height: 350px;
  width: 650px;
  padding: 1rem;
  border-radius: 18px;
}

.interactive-fix {
  position: fixed;
  top: 0px;
  z-index: 8;
}
