.space-map0 {
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
  cursor: url('https://img.icons8.com/nolan/64/physics.png'), auto;
  animation: mapBackDrop 30s infinite;
}

.solar-fix {
  max-width: 100%;
}

.testing-overlay {
  position: absolute;
  top: 57%;
  left: 57%;
  z-index: 7;
  background-color: #101529;
  padding: 1rem;
  border-radius: 18px;
  border-style: solid;
  border-color: #f9cf55;
  overflow-y: scroll;
}

.feature-image {
  position: absolute;
  top: 20%;
  left: 9%;
  z-index: 9;
  background-color: #101529;
  padding: 1rem;
  border-radius: 18px;
  border-style: solid;
  border-color: #f9cf55;
}

.tooltipInfo {
  position: absolute;
  top: 9%;
  left: 31%;
  z-index: 10;
  background-color: #101529;
  padding: 1rem;
  border-radius: 18px;
  border-style: solid;
  border-color: #f9cf55;
  height: fit-content;
}

hr {
  background-color: #f9cf55;
}

.interactive-fix {
  position: absolute;
  top: 0px;
  z-index: 8;
}

audio {
  position: absolute;
  top: 6%;
  left: 1%;
  z-index: 10;
}

#seeAnimation {
  position: absolute;
  top: 11%;
  left: 30px;
  z-index: 11;
  padding: 1rem;
}

#royalty {
  position: absolute;
  top: 5%;
  left: 4%;
  z-index: 12;
  padding: 1rem;
  color: black;
  background-color: #f1f3f4;
  border-radius: 18px;
  padding: 0 1rem;
  border-bottom: 0;
}

.ReactModal__Body--open {
  z-index: 88;
}

.modal-wrap {
  background-color: black;
  color: white;
  border-radius: 18px;
  padding: 1rem;
}

.ReactModal__Content {
  border-radius: 18px;
  bottom: 105px;
  z-index: 91;
}

.ReactModal__Content--after-open {
  border: 0;
  z-index: 92;
}

.ReactModal__Overlay {
  z-index: 90;
  background-image: url('https://d.newsweek.com/en/full/1555572/asteroid.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
  width: 98vw;
  height: 95vh;
  margin-left: 1%;
  margin-top: 1%;
  border-style: solid;
  border-radius: 18px;
  border-width: 15px;
  cursor: url('https://img.icons8.com/nolan/64/space-shuttle.png'), auto;
  position: fixed;
}

.modal-close {
  margin: 1rem;
}

area {
  cursor: url('https://img.icons8.com/officel/40/000000/einstein.png'), auto;
}

small {
  border-style: solid;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-width: 1px;
  border-color: #f9cf55;
  margin-bottom: 1%;
}

.animated-intro {
  animation: intro 12s normal forwards;
  position: fixed;
  left: 1%;
  top: 2%;
  width: 98%;
  height: 95%;
  border-style: solid;
  border-width: 15px;
  border-radius: 18px;
  cursor: url('https://img.icons8.com/color/50/000000/astronaut.png'), auto;
}

#fade-1 {
  margin-top: 10%;
  animation: fade1 9s normal forwards;
}

#fade-2 {
  margin-top: 10%;
  animation: fade2 10s normal forwards;
}

#fade-3 {
  margin-top: 10%;
  animation: fade3 11s normal forwards;
}

@keyframes intro {
  0% {
    background-image: url('../../utils/spaceMap/first.jpg');
    opacity: 1;
    z-index: 88;
  }
  50% {
    opacity: 1;
    z-index: 88;
  }
  90% {
    opacity: 0.9;
    z-index: 88;
  }
  100% {
    opacity: 0;
    z-index: -1;
    background-image: url('../../utils/spaceMap/second.jpg');
  }
}

@keyframes mapBackDrop {
  0% {
    background-image: url('https://images.hdqwalls.com/download/space-stars-purple-sky-3n-2560x1440.jpg');
  }
  50% {
    background-image: url('https://wallpaperplay.com/walls/full/3/4/9/166702.jpg');
  }
  100% {
    background-image: url('https://images.hdqwalls.com/download/space-stars-purple-sky-3n-2560x1440.jpg');
  }
}

@keyframes fade1 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
