body {
  width: 96%;
  margin-left: 2%;
  text-align: center;
  color: whitesmoke;
}

#randomImage {
  border-radius: 18px;
  height: 40rem;
}

.backdrop0 {
  background-image: url('../../utils/backdrops/0.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
}

.backdrop1 {
  background-image: url('../../utils/backdrops/1.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
}

.backdrop2 {
  background-image: url('../../utils/backdrops/2.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
}

.backdrop3 {
  background-image: url('../../utils/backdrops/3.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
}

.navBar {
  width: 100%;
  padding: 1rem;
  height: 4rem;
}

.btn-success {
  margin: 0 1rem;
  float: right;
  font-size: 20px;
}

.btn-info {
  margin: 0 1rem;
  float: right;
  font-size: 20px;
}

.welcome {
  background: black;
  padding: 1rem;
  border-radius: 18px;
  border-style: solid;
  margin-top: 5%;
  margin-bottom: 5%;
}

.facts {
  background: black;
  padding: 1rem;
  border-radius: 18px;
  border-style: solid;
  margin-bottom: 10%;
  width: 25%;
  margin-top: -62%;
}

#facts-body {
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 18px;
  text-align: justify;
}

#randomVideo {
  margin: auto;
}

#dailyInfo {
  background: white;
  color: black;
  border-radius: 18px;
  padding: 1rem;
  text-align: justify;
  margin-top: 5%;
}

#websiteInfo {
  background: white;
  color: black;
  border-radius: 18px;
  padding: 1rem;
  text-align: justify;
}

#aboutWebsite {
  background: black;
  padding: 1rem;
  border-radius: 18px;
  border-style: solid;
  margin-top: 5%;
}

.row {
  width: 95%;
}
