.mars0 {
  background-image: url('../../utils/mars/0.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
}

.rover-image {
  height: 500px;
  padding: 1rem;
}

.rover-image:hover {
  transform: scale(1.6);
}

.photo-buttons {
  width: 30%;
  margin: 2%;
  padding: 2rem;
  font-size: x-large;
  background: black;
  color: white;
  border-style: none;
}

.photo-buttons:hover {
  background-color: #1a4280;
  border-style: none;
  color: white;
}

.select-custom {
  font-size: 150%;
}

.martian-weather {
  background-image: url('https://image.freepik.com/free-vector/weather-satellite-with-meteorology-equipment-space-dark-background-with-earth-planets-stars_1284-27326.jpg');
  padding: 1rem;
  border-radius: 18px;
  background-repeat: no-repeat;
}

.weather-app {
  background: black;
  color: white;
  border-radius: 18px;
  padding: 1rem;
}

.picture-bucket {
  background-color: #d36939;
  border-radius: 18px;
  opacity: 0.9;
}

label {
  padding: 2rem;
  font-size: 150%;
}

.photo-top {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#no-image-found {
  margin-top: 5%;
}

#no-image-found2 {
  margin-bottom: 5%;
}

#mars-intro {
  margin-top: 2%;
  margin-bottom: 2%;
}

#rolling-photos {
  height: 450px;
  padding: 1rem;
  background: #d36939;
  width: 600px;
  border-radius: 18px;
  margin-bottom: 2rem;
}

input {
  margin-left: 1rem;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #d36939;
  border-radius: 18px;
  opacity: 0.9;
  padding: 1rem;
}

#martian-nasa-facts {
  background: black;
  padding: 1rem;
  border-radius: 18px;
}

#martian-static-facts {
  background: black;
  padding: 1rem;
  border-radius: 18px;
}

.hr-fix {
  background-color: white;
  width: 80%;
}

.css-1hwfws3 {
  width: 40vw;
}

.css-1ustxrt-container {
  border-radius: 18px;
}

.css-1okebmr-indicatorSeparator {
  background-color: none;
}

svg {
  height: 30px;
  width: 30px;
}
