.game0 {
  background-image: url('../../utils/trivia/0.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
}

.game-buttons:hover {
  background-color: red;
  border-style: solid;
  border-color: black;
}
